<h1><%= @pizza.name %></h1>

<p>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= "#{ingredient.name} - #{ingredient.price} - " %>
        <%= link_to(t(:remove), remove_ingredient_path(@pizza.id, ingredient.id), method: :post) %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <%= "#{t(:total)}: #{@pizza_price}" %>
</p>
